{# _templates/versions.html #}

{% set show_switcher = (versions and (versions.branches or versions.tags)) %}
{% if show_switcher %}
  <div class="rst-versions" data-toggle="rst-versions" role="note" aria-label="versions">
    <span class="rst-current-version" data-toggle="rst-current-version">
      <span class="fa fa-book"></span>
      {{ current_version.name if current_version else 'unknown' }}
      <span class="fa fa-caret-down"></span>
    </span>

    <div class="rst-other-versions">
      {% set items = versions.branches|sort(attribute='name')|list %}
      {% if current_version %}
        {% set items =
          (items|selectattr('name','equalto',current_version.name)|list)
          + (items|rejectattr('name','equalto',current_version.name)|list)
        %}
      {% endif %}

      {% if items %}
      <dl>
        <dt>{{ _('Versions') }}</dt>
        {% for v in items %}
          <dd>
            {% if current_version and v.name == current_version.name %}
              <strong class="rst-current-item">{{ v.name }}</strong>
            {% else %}
              <a href="{{ v.url }}">{{ v.name }}</a>
            {% endif %}
          </dd>
        {% endfor %}
      </dl>
      {% endif %}
      
    </div>
  </div>
{% endif %}